
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successful</title>
    <link rel="stylesheet" href="{% static 'css/booking_success.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="success-card">
            <h2>Booking Successful</h2>
            <p class="booking-id"><strong>Booking ID:</strong> {{ booking.id }}</p>
            <i class="fas fa-check success-icon"></i>
            <h3>{{ booking.service.provider.name }}</h3>
            <div class="details">
                <div class="detail">
                    <p>Date</p>
                    <p>{{ booking.booking_date|date:"F d Y" }}</p>
                </div>
                <div class="detail">
                    <p>Time</p>
                    <p>{{ booking.booking_date|time:"H:i" }}</p>
                </div>
                <div class="detail">
                    <p>Location</p>
                    <p>{{ booking.location }}</p>
                </div>
            </div>
            <a href="{% url 'home' %}" class="button primary">Go Back Home</a>
            <a href="{% url 'client_dashboard' %}" class="button secondary">Booking Details</a>
        </div>
    </div>
    
</body>
</html>