{% extends 'base_generic.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="v12_102">
    <div class="v12_116">
        <span class="v12_118">Features</span>
        <span class="v12_120">My Dashboard</span>
        <span class="v12_121">Support</span>
        <span class="v12_134">Search</span>
    </div>
    <div class="v12_140">
        <span class="v12_143">© Photo, Inc. 2024, Making Celebrations Easier</span>
        <span class="v12_144">Follow us:</span>
        <span class="v12_145">Community</span>
        <span class="v12_146">Featured events Promotions</span>
        <span class="v12_147">Company</span>
        <span class="v12_148">About us Contact us History</span>
    </div>
    <div class="v12_175">
        <span class="v12_176">What We Offer</span>
        <div class="v12_182">
            <span class="v12_183">Effortless Client Connection</span>
            <span class="v12_184">Ease with which providers can connect with potential clients looking for their specific services</span>
        </div>
        <div class="v12_185">
            <span class="v12_186">Provider Spotlight</span>
            <span class="v12_187">Feature positive reviews of service providers by clients who have successfully used their services, ranking you higher to other clients</span>
        </div>
        <div class="v12_188">
            <span class="v12_189">Provider Growth Suite</span>
            <span class="v12_190">Helping service providers expand their reach and book more events through our platform</span>
        </div>
    </div>
    <div class="v12_212">
        <span class="v12_213">Hear from those that have experienced us</span>
        <div class="v12_214">
            <span class="v12_215">Angel Anderson</span>
            <span class="v12_216">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</span>
        </div>
        <div class="v12_220">
            <span class="v12_223">John Doe</span>
            <span class="v12_224">Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</span>
        </div>
        <div class="v12_225">
            <span class="v12_228">Diana Smith</span>
            <span class="v12_229">Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor.</span>
        </div>
    </div>
</div>
{% endblock %}
