* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v78_309 {
  width: 100%;
  height: 1370px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v78_312 {
  width: 100%;
  height: 214px;
  background: url("../images/v78_312.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 36px;
  overflow: hidden;
}
.v78_310 {
  width: 100%;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(196,196,196,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v78_311 {
  width: 951px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 18px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_313 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 223px;
  left: 44px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_314 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 104px;
  left: 136px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v78_315 {
  width: 100%;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v78_317 {
  width: 65px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 892px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v78_318 {
  width: 109px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1008px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v78_319 {
  width: 61px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1169px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v78_321 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1263px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v78_331 {
  width: 484px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 521px;
  left: 44px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_335 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 609px;
  left: 158px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_337 {
  width: 51px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 609px;
  left: 91px;
  border: 1px solid rgba(0,0,0,0.800000011920929);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v78_338 {
  width: 51px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 91px;
  border: 1px solid rgba(0,0,0,0.800000011920929);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v78_339 {
  width: 259px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 672px;
  left: 168px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_342 {
  width: 48px;
  height: 28px;
  background: url("../images/v78_342.png");
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 101px;
  border: 3px solid rgba(0,0,0,1);
}
.v78_345 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 749px;
  left: 46px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_346 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 810px;
  left: 54px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v78_347 {
  width: 317px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 905px;
  left: 44px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_348 {
  width: 317px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 909px;
  left: 785px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_349 {
  width: 454px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 966px;
  left: 54px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v78_350 {
  width: 454px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 966px;
  left: 778px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v78_351 {
  width: 376px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 977px;
  left: 69px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v78_352 {
  width: 234px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 975px;
  left: 797px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v78_353 {
  width: 647px;
  color: rgba(196,196,196,1);
  position: absolute;
  top: 822px;
  left: 91px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v78_354 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1053px;
  left: 44px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v78_355 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1110px;
  left: 44px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v78_360 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1230px;
  left: 600px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v78_361 {
  width: 410px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 1296px;
  left: 508px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
