* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v71_55 {
  width: 100%;
  height: 1666px;
  background: none;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_57 {
  width: 100%;
  height: 1246px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 91px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_58 {
  width: 100%;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 18px;
  overflow: hidden;
}
.v71_59 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 112px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v71_61 {
  width: 100%;
  height: 914px;
  background: url("../images/v71_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 59px;
  overflow: hidden;
}
.v71_62 {
  width: 100%;
  height: 914px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_63 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 84px;
  left: 92px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v71_65 {
  width: 454px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 92px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_66 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 200px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_67 {
  width: 454px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 654px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_68 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 199px;
  left: 681px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_69 {
  width: 946px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 92px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_70 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 284px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_71 {
  width: 946px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 359px;
  left: 92px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_72 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 370px;
  left: 119px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_91 {
  width: 427px;
  color: url("../images/v71_91.png");
  position: absolute;
  top: 869px;
  left: 413px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v71_92 {
  width: 946px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 450px;
  left: 93px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_94 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 460px;
  left: 120px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_250 {
  width: 946px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 92px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_251 {
  width: 946px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 638px;
  left: 93px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v71_253 {
  width: 51px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 294px;
  border: 1px solid rgba(0,0,0,0.800000011920929);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v71_254 {
  width: 591px;
  color: url("../images/v71_254.png");
  position: absolute;
  top: 719px;
  left: 369px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v71_256 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 649px;
  left: 120px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_257 {
  width: 427px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 550px;
  left: 120px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v71_258 {
  width: 7px;
  height: 10px;
  background: url("../images/v71_258.png");
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 1008px;
  border: 5px solid rgba(196,196,196,1);
}
.v71_259 {
  width: 7px;
  height: 10px;
  background: url("../images/v71_259.png");
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 1013px;
  border: 5px solid rgba(196,196,196,1);
}
.v71_75 {
  width: 100%;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v71_77 {
  width: 65px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 892px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v71_78 {
  width: 109px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1008px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v71_79 {
  width: 61px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1169px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v71_81 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 1263px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
