* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_2 {
  width: 373px;
  height: 61px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 11px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_2 {
  width: 40px;
  height: 19px;
  background: rgba(135,105,105,1);
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 42px;
  overflow: hidden;
}
.v3_3 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 25px;
  font-family: Inter;
  font-weight: Black;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_10 {
  width: 276px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 13px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_11 {
  width: 33px;
  height: 38px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 322px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_16 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 131px;
  left: 31px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_17 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 236px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_18 {
  width: 343px;
  height: 158px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 13px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4_22 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 195px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_23 {
  width: 354px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 422px;
  left: 13px;
  font-family: Inter;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v4_25 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 539px;
  left: 19px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_26 {
  width: 343px;
  height: 158px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 588px;
  left: 19px;
  overflow: hidden;
}
.v4_27 {
  width: 110px;
  height: 35px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 123px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v4_28 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 480px;
  left: 150px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v4_29 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 137px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_30 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 814px;
  left: 289px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v4_31 {
  width: 31px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 775px;
  left: 146px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_37 {
  width: 43px;
  height: 21px;
  background: rgba(37,36,36,1);
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 303px;
  overflow: hidden;
}
.v4_38 {
  width: 8px;
  height: 10px;
  background: rgba(212,26,26,1);
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 342px;
  border-radius: 50%;
}
.v4_51 {
  width: 52px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 222px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v4_92 {
  width: 52px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 777px;
  left: 222px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
