body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: 70px;
}

.main-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end ;
    
    /* padding: 30px 50px; */
}

.logo {
  width: 100px;
  border-radius: 10%;
  margin: 5px;
  
 /* display: inline-block; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #007bff;
}



.formcontainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
}

p {
    text-align: center;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}