body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eae7e7;
}
.container {
    width: 95%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
.main-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin: 10px;
    /* padding: 30px 50px; */
}
.logo {
  width: 100px;
  border-radius: 10%;
  margin: 10px;
 /* display: inline-block; */
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #007bff;
}
.profile {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}
.profile img {
    border-radius: 50%;
    margin-right: 20px;
}
.profile button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
.profile button:hover {
    background-color: #0056b3;
}
.tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.tab {
    width: 50%;
    padding: 20px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
}

.tab h3 {
    margin-top: 0;
}

.tab-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    width: 50%;
    border: 1px solid;
    border-radius: 5px;
    background-color: #9cbde1;
    color: white;
    text-align: center;
    cursor: pointer;
}

.tab-button.active {
    background-color: #0056b3;
}

.tab-content {
  display: none;
  width: 95%;
  padding: 20px;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  margin: auto;

}

.tab-content.active {
    display: block;
}
.notification-icon {
  position: absolute;
  top: 210px; /* Adjust top position as needed */
  right: 60px; /* Adjust right position as needed */
  /* z-index: 1000; Ensure it's above other content */
}

.notification-icon a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.notification-icon img {
  width: 40px; /* Adjust width and height as needed */
  height: auto; /* Ensures image aspect ratio is maintained */
}
.unread-indicator {
  width: 10px;
  height: 10px;
  background-color: red; /* Example: Red dot indicator for unread notifications */
  display: inline-block;
  border-radius: 50%; /* Make it circular */
  margin-right: 5px;
  font-size: 5px;
}

/* .badge {
  position: absolute;
  top: 0;
  right: 3px; /* Adjust position of the badge */
  /* background-color: red; Badge background color */
  /* color: white; Badge text color */
  /* border-radius: 50%; Rounded badge */
  /* padding: 4px 6px; /* Adjust padding */
  /* font-size: 6px; Adjust font size */
/* } */
.button{
    background-color: #22b8ef;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.review {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}
.review img {
    border-radius: 50%;
    margin-right: 20px;
}
.review .stars {
    color: gold;
    margin-right: 10px;
}
.review p {
    margin: 0;
} 
  .main-footer {
    /* background: #f8f8f8; */
    padding: 20px 0;
    border-top: 1px solid black;
    width: 100%;
  }
  
  .upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: end ;
  }
  
  .footer-logo {
    width: 200px;
    border-radius: 10%;
    margin-left: 8.8rem;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-links div {
    flex: 1;
  }
  
  .footer-links h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .footer-auth {
    text-align: center;
    padding-top: 1rem;
  }
  
  .footer-auth .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .footer-auth .button:hover {
    background: #0056b3;
  }
  
  .social-media {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 8.8rem;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .social-media a {
    margin: 0 10px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  a .fa-arrow-left{
    width: 15px;
    color: black;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
    background: palevioletred;
    color: white
  }