{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta http-equiv="refresh" content="5; url={% url 'client_dashboard' %}" />
</head>
<body>
    <header>
        <h1>Payment Successful</h1>
    </header>
    <main>
        <p>Thank you! Your payment has been successfully processed.</p>
        <p>You will be redirected to the dashboard shortly.</p>
    </main>
    <footer>
        <p>&copy; 2024 HarmoniConnect</p>
    </footer>
</body>
</html>
